---
name: Release Helm Chart

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "helm/**"
      - ".github/workflows/release-helm.yaml"

permissions: {}

jobs:
  check:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get helm changed files
        id: changed-files
        uses: tj-actions/changed-files@v45.0.4
        with:
          files: |
            helm/values.yaml
            helm/Chart.yaml
            helm/templates/*
      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1
        with:
          version: 3.11.0
      - name: Run chart-testing (lint)
        run: ct lint --chart-dirs helm --charts helm --check-version-increment=${{ steps.changed-files.outputs.any_changed }} --target-branch ${{ github.event.repository.default_branch }}

  push:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: ["check"]
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Helm
        uses: azure/setup-helm@v4
      - name: Build Helm chart
        id: build-package
        working-directory: helm
        run: |
          file=$(helm package --dependency-update . | cut -d":" -f2 | tr -d '[:space:]')
          echo "file=\"${file}\"" >> "${GITHUB_OUTPUT}"
      - name: Helm login in GHCR
        run: echo ${{ secrets.GITHUB_TOKEN }} | helm registry login -u ${{ github.actor }} --password-stdin ghcr.io
      - name: Push Helm chart
        run: |
          helm push ${{ steps.build-package.outputs.file }} oci://ghcr.io/${{ github.repository }}/helm-charts
